DATA_AGGREGATION_URL=http://localhost:8085
JWT_SECRET_KEY=f9A2kL7pQzR4vX9mN3bH5jW8sT1yC6xD
JWT_ALGORITHM=HS256
CRITICAL_STOCK_THRESHOLD=5
MONGODB_URL=mongodb://localhost:27017
MONGODB_DATABASE=ms-analytics